:root {
    --pst-color-inline-code: 212, 69, 0;
    /*
    --pst-font-family-base: "Computer Modern Serif", serif, var(--pst-font-family-base-system);
    --pst-font-family-heading: "Computer Modern Serif", serif, var(--pst-font-family-base-system);
    --pst-font-family-monospace: "Computer Modern Typewriter", Courier, var(--pst-font-family-monospace-system);
     */
    --pst-font-family-base: "Crimson Pro", "Hoefler Text", "Linux Libertine", "Linux Libertine O", "Garamond", "Nimbus Serif", "FreeSerif", serif, var(--pst-font-family-base-system);
    --pst-font-family-heading: "Crimson Pro", "Hoefler Text", "Linux Libertine", "Linux Libertine O", "Garamond", "Nimbus Serif", "FreeSerif", serif, var(--pst-font-family-base-system);
    --pst-font-family-monospace: Courier, var(--pst-font-family-monospace-system);
}

/***
    Style a "subtitle" (tagline)
 */
.tagline {
    position: relative;
    line-height:1;
    top: 0px; /* Changes the space between the logo and the slogan */
    text-align: center;
    font-size:1.3em;
    font-style: italic;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: var(--pst-color-text-base); /* Changes the color of the slogan */
    letter-spacing:0px; /* Changes the letter spacing of the slogan */
}

p {
    /*max-width: 65%*/
}



/***
    Reduce sidebar width
 */
.bd-main .bd-content .bd-article-container {
    max-width: 75em
}
.bd-page-width {
    max-width: 90%;  /* default is 88rem */
}


/***
    Make the code-block copy button always visible
 */
button.copybtn {
   opacity: 1;
}

.sphinx-tabs-tab {
    font-family: unset;
    font-size: unset;
}

.sphinx-tabs-panel {
    border: unset;

}

div[class="sphinx-tabs-panel"].highlight-rst.notranslate {
    margin: unset;
}
